@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --color-pomodoro: #ba4949;
  --color-pomodoro-dark: #c15c5c;
  --color-short-break: #38858a;
  --color-short-break-dark: #4c9196;
  --color-long-break: #397097;
  --color-long-break-dark: #4d7fa2;
  --color-bg-dark: #5c3d3d;
  --font-family-arimo: 'Arimo', sans-serif;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: var(--font-family-arimo), system-ui, sans-serif;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}
